.header--title {
  color: #cbf281;
  font-weight: bold;
  font-size: 3rem;
}

.header--section {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.header--section--box {
  display: inline-block;
}
