.projects--container {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #cbf281;
}

.projects--container--box {
  width: 80%;
}

.projects--container--title h1 {
  text-align: left;
  margin-bottom: 20px;
  color: #4731d3;
}
